*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
}

/* Spinner 1 */

.box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-size: 2rem;
    animation: textAnimation 2s ease-in-out infinite alternate;
}

.spinner--sector {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border-width: 15px;
    border-style: solid;
    border-color: transparent;
    mix-blend-mode: overlay;
    animation: rotate var(--duration) var(--timing) infinite alternate;
    pointer-events: none;
}

.spinner--color--greenyellow {
    border-top-color: greenyellow;
    --duration: 2s;
    --timing: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.spinner--color--yellow {
    border-right-color: yellow;
    --duration: 1.8s;
    --timing: cubic-bezier(0.42, 0, 0.58, 1);
}

.spinner--color--lightcoral {
    border-bottom-color: lightcoral;
    --duration: 1.5s;
    --timing: cubic-bezier(0.39, 0.58, 0.57, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes textAnimation {
    0% {
        color: rgba(0, 0, 0, 1);
    }

    50% {
        color: rgba(0, 0, 0, .5);
    }

    100% {
        color: rgba(0, 0, 0, 0);
    }
}

/* Spinner 2 */

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.loader {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block !important;
    transform: rotate(calc(30deg * var(--i)));
}

.loader span::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: black;
    border-radius: 50%;
}

.rotate {
    animation: animate 3s ease-out infinite;
    animation-delay: calc(-.1s * var(--i))
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}